.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Course-Grid {
    padding-top: 62px;
}

.Editor-Title {
  padding-bottom: 16px;
}

.Buttom-Buffer {
  padding-bottom: 2em;
}

.Fixed-Buttom-Right {
  z-index: 100;
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.Center-Icon{
  padding-top: 10px;
  margin-left: 7px;
}

.Margin-Left {
  margin-left: 8px;
}

.Margin-Right {
  margin-right: 8px;
}

.Inline-Display {
  display: inline;
}

.Green-Icon {
  color:green;
}

.Red-Icon {
  color: red;
}

.Blue-Icon {
  color: deepskyblue;
}

.Grey {
  color: grey;
}

.Card-Content {
  margin-top: 12px;
}

.Editable-Item-Icon {
  padding-left: 3px;
  padding-top: 5px;
}

.Editable-Item-Check {
  margin-left: 3px;
  padding-top: 15px;
}

.Editable-Item-Title {
  padding-right: 12px;
}

.Editable-Item-Title-Active {
  padding-right: 12px;
  color: white;
}

.Editable-Item-Input {
  margin-top: 7px;
  width: 76%;
}

.Cursor-Pointer {
  cursor: pointer;
}

.Module-Plus {
  color: limegreen;
  margin-left: 45%;
}

.Lesson-Plus {
  color: limegreen;
  padding-top: 18px;
  padding-left: 15px;
}

.Topic-Plus {
  color: limegreen;
  padding-top: 18px;
  padding-left: 15px;
}

.Module-Active {
  padding-top: 0px;
}

.colorViolet {
  color: darkviolet;
}

.fontBold {
  font-weight: bold;
}

#typeLabel{
  text-align: left;
  font-weight: bold;
  padding-top: 6px;
  color: darkviolet;
}

#typeSelect{
  margin-left: -25px;
  margin-right: 25px;
  padding-top: 6px;
}

#typeConfirm{
  width: 10%;
  height: 10%;
  margin-left: 18px;
}

#typeCancel{
  width: 10%;
}

#editConfirm{
  width: 10%;
  height: 10%;
  margin-left: 18px;
}

#editCancel{
  width: 10%;
}

#widgetDelete {
  margin-left: 5px;
}

#widgetConfig {
  margin-right: 1px;
}

.widgetHeading {
  text-align: left;
  padding-top: 1.0%;
}

#widgetTextarea{
  margin-bottom: 12px;
}

